<?xml version="1.0"?>
<launch>

  <arg name="sip" default="10.10.56.214" />
  <arg name="have_gripper" default="false" />

  <rosparam file="$(find hsr_bringup)/config/joint_names.yaml" command="load"/>
  <!-- no gripper -->
  <include 
	file="$(find hsr_description)/launch/jr603_upload.launch" unless="$(arg have_gripper)"/>

  <!-- if have gripper -->
  <include 
	file="$(find hsr_description)/launch/jr603_with_gripper_kinect_upload.launch" if="$(arg have_gripper)" />

  <!-- no gripper -->
  <include
	file="$(find jr603_moveit_config)/launch/hsr_jr603_moveit_planning_execution.launch" unless="$(arg have_gripper)">
	<arg name="sim" default="false"/>
  </include>

  <!-- if have gripper -->
  <include
	file="$(find jr603_gripper_moveit_config)/launch/hsr_jr603_moveit_planning_execution.launch" if="$(arg have_gripper)">
	<arg name="sim" default="false"/>
  </include>

  <include
	file="$(find hsr_rosi_device)/launch/robot_inter_interface_download.launch">
	<arg name="robot_ip" default="10.10.56.214"/>
  </include>

  <include 
	file="$(find hsr_bringup)/launch/moveit_rviz.launch"/>

  <!--include 
	file="$(find hsr_bringup)/launch/pick_gui.launch" if="$(arg have_gripper)" /-->

  <include file="$(find realsense2_camera)/launch/rs_camera.launch" />

  <rosparam command="load" file="$(find object_color_detector)/config/vision_config.yaml" />

  <node name="object_detector" pkg="object_color_detector" type="object_detector" output="screen" />
  
</launch>
